<%= form_for @post,:remote=>true,:html => { :id => "mafia_mohsin_akshay_gavit_game_form" },:url=> {:action=> :create} do |f| %>
  <div class="field">
    <%= f.text_area :content,:rows=>3, :placeholder=> "compose new post..." ,:id=>"new_game_post" %>
  </div>
  <div id="game_post">
  <script>
  function myFunction()
  {
    document.getElementById("game_post").innerHTML='<%= f.hidden_field :place, :value=> "game_post"  %>';
  }
  </script>    
  </div>
  <%=f.submit "post",:class=>"btn btn-large btn-primary" ,:onclick=> 'myFunction();',:id=> "game_submit_button" %>
<% end %>

