<%= form_for @post,:remote=>true,:class=>"don_chat",:html => { :id => "mafia_mohsin_akshay_gavit_don_form" },:url=> {:action=> :create} do |f| %>
  <div class="field">
    <%= f.text_area :content,:rows=> 3, :placeholder=> "compose new post..." ,:id=>"new_don_post"%>
  </div>
  <div id="don_post">
  <script>
  function myDonFunction()
  {
    document.getElementById("don_post").innerHTML='<%= f.hidden_field :place, :value=> "don_post"  %>';
  }
  </script>
  </div>
  <%=f.submit "post",:class=>"btn btn-large btn-primary",:onclick=> 'myDonFunction();', :id=> "don_submit_button" %>
<% end %>

